/* Slick Slider Customizations */
.slick-list {
  display: flex;
  overflow: visible;
  width: 100%;
}

.slick-track {
  display: flex;
  margin-left: none;
}

.slick-slide {
  width: 16.666666666666668%;
}

.formation_top-c-wrapper {
  content: '';
  background: inherit;
}
